<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head('Projects')"></head>
<body>
<div th:replace="layout :: nav('project')"></div>

<main class="container">
    <div class="row">
        <div class="col-md-10">
            <h2 class="display-4">Projects</h2>
        </div>
        <div class="col-md-2 my-auto text-right">
            <a class="btn btn-primary" th:href="@{/project/add}"><i class="far fa-plus"></i></a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mt-1">
            <ul class="list-group">
                <li class="list-group-item" th:each="project : ${projects}">
                    <div class="row">
                        <div class="col-md-10">
                            <span th:text="${project.name}"></span>
                        </div>
                        <div class="col-md-2 text-right">
                            <a th:href="@{'/project/edit/' + ${project.id}}" class="text-secondary">
                                <i class="fas fa-pencil-alt"></i>
                            </a>
                            <a href="#" class="text-secondary ml-2" th:data-project-id="${project.id}" th:data-project-name="${project.name}"
                               data-toggle="modal" data-target="#delete-modal">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="modal" id="delete-modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirm Deletion</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <p id="delete-modal-body"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
                    <a href="#" class="btn btn-danger" id="delete-button">Delete</a>
                </div>
            </div>
        </div>
    </div>
</main>

<div th:replace="layout :: scripts"></div>
<div id="custom-scripts">
    <script>
        $('#delete-modal').on('show.bs.modal', function(e) {
            let projectId = $(e.relatedTarget).data('project-id');
            let projectName = $(e.relatedTarget).data('project-name');

            $('#delete-button').attr('href', '/project/delete/' + projectId);
            $('#delete-modal-body').text('Are you sure you wish to delete project \'' + projectName + '\'?');
        });
    </script>
</div>
</body>
</html>