<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head('Tasks')"></head>
<body>
<div th:replace="layout :: nav('task')"></div>

<main class="container">
    <div class="row">
        <div class="col-md-10">
            <h2 class="display-4">Tasks</h2>
        </div>
        <div class="col-md-2 my-auto text-right">
            <a class="btn btn-primary" th:href="@{/task/add}"><i class="far fa-plus"></i></a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mt-1">

            <table class="table">
                <thead class="table-light">
                <tr>
                    <th>Customer</th>
                    <th>Project</th>
                    <th>Task</th>
                    <th>Chargeable</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="task : ${tasks}">
                    <td th:text="${task.project.customer.name}"></td>
                    <td th:text="${task.project.name}"></td>
                    <td th:text="${task.title}"></td>
                    <td><i th:classappend="${task.chargeable} ? 'fas fa-check'"></i></td>
                    <td>
                        <a th:href="@{'/task/edit/' + ${task.id}}" class="text-secondary">
                            <i class="fas fa-pencil-alt"></i>
                        </a>
                        <a href="#" class="text-secondary ml-2" th:data-task-id="${task.id}"
                           th:data-task-title="${task.title}"
                           data-toggle="modal" data-target="#delete-modal">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal" id="delete-modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirm Deletion</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <p id="delete-modal-body"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
                    <a href="#" class="btn btn-danger" id="delete-button">Delete</a>
                </div>
            </div>
        </div>
    </div>
</main>

<div th:replace="layout :: scripts"></div>
<div id="custom-scripts">
    <script>
        $('#delete-modal').on('show.bs.modal', function(e) {
            let taskId = $(e.relatedTarget).data('task-id');
            let taskTitle = $(e.relatedTarget).data('task-title');

            $('#delete-button').attr('href', '/task/delete/' + taskId);
            $('#delete-modal-body').text('Are you sure you wish to delete task \'' + taskTitle + '\'?');
        });


    </script>
</div>
</body>
</html>