body {
    margin-top: 70px;
    background-color: rgb(248, 249, 250);
}

.bg-nav {
    background-color: #314855;
}

.text-primary {
    color: #314855 !important;
}

.btn-primary {
    background-color: #314855 !important;
    border-color: #314855 !important;
}

.active-card-header {
    background-color: #b1c0c9;
    color: #314855;
    cursor: pointer;
}



