<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head(page_title)" lang="en">
  <meta charset="UTF-8"/>
  <meta description="viewport" content="width=device-width, initial-scale=1"/>

<!--  <link rel="icon" th:href="@{/favicon.png}"/>-->

  <link rel="stylesheet" th:href="@{/vendor/bootstrap/css/bootstrap.css}"/>
  <link rel="stylesheet" th:href="@{/vendor/bootstrap/css/bootstrap-grid.css}"/>
  <link rel="stylesheet" th:href="@{/vendor/fontawesome/css/all.css}"/>
<!--  <link rel="stylesheet" th:href="@{/app/app.css}"/>-->

  <title th:text="'track | ' + ${page_title}">Home</title>
</head>

<body>

<div th:fragment="nav(page)">
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/"><i class="far fa-clock"></i></a>
        <a class="navbar-brand" href="/">track</a>
      </div>
<!--      <ul class="nav navbar-nav navbar-right text-light px-2">-->
<!--        <li>-->
<!--          <a class="text-light" href="/user/edit" sec:authorize="isAuthenticated()" sec:authentication="name"></a>-->
<!--          <a class="text-light" href="/user/add" sec:authorize="not isAuthenticated()">Sign Up</a>-->
<!--        </li>-->
<!--        <li>-->
<!--          <a class="text-light mx-2" href="/login" sec:authorize="not isAuthenticated()">Log In</a>-->
<!--          <form action="/logout" method="post" sec:authorize="isAuthenticated()">-->
<!--            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>-->
<!--            <button class="btn btn-link text-light py-0" type="submit"><i class="fas fa-sign-out-alt"></i></button>-->
<!--          </form>-->
<!--        </li>-->
<!--      </ul>-->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
              aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>
</div>

<!--<div th:fragment="flash" th:if="${flash != null}" class="container">-->
<!--  <div th:classappend="'alert-' + ${#strings.toLowerCase(flash.status)}" class="alert alert-dismissible fade show"-->
<!--       role="alert">-->
<!--    <span th:text="${flash.message}"></span>-->
<!--    <button type="button" class="close" data-dismiss="alert" aria-label="Close">-->
<!--      <span aria-hidden="true">&times;</span>-->
<!--    </button>-->
<!--  </div>-->
<!--</div>-->
<div th:fragment="scripts">
  <script th:src="@{/vendor/jquery/jquery-3.3.1.min.js}"></script>
  <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.js}"></script>
<!--  <script th:src="@{/vendor/jquery/plugins/autoNumeric.js}"></script>-->
</div>

</body>
</html>