<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head('Customers')"></head>
<body>
<div th:replace="layout :: nav('customer')"></div>

<main class="container">
    <div class="row shadow-sm rounded bg-white mb-3 p-2">
        <div class="col-md-10">
            <h2 class="display-4">Customers</h2>
        </div>
        <div class="col-md-2 my-auto text-end">
            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#add-customer-modal"><i class="fas fa-plus"></i></button>
        </div>
    </div>
    <div class="row shadow-sm rounded bg-white mb-3 p-2">
        <div class="col-md-12 mt-1">
            <ul class="list-group list-group-flush">
                <li th:each="customer : ${customers}" class="list-group-item">
                    <div class="row">
                        <div class="col-md-10">
                            <span th:text="${customer.name}"></span>
                        </div>
                        <div class="col-md-2 text-end">
                            <span class="text-secondary" style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#edit-customer-modal"
                            th:data-customer-id="${customer.id}"
                            th:data-customer-name="${customer.name}"
                            th:data-customer-address="${customer.address}">
                                <i class="fas fa-pencil-alt"></i>
                            </span>
                            <a href="#" class="text-secondary ml-2" data-type="customer" th:data-id="${customer.id}"
                               th:data-name="${customer.name}"
                               data-bs-toggle="modal" data-bs-target="#delete-modal">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="modal" id="delete-modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirm Deletion</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <p id="delete-modal-body"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
                    <a href="#" class="btn btn-danger" id="delete-button">Delete</a>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="add-customer-modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add Customer</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <form th:action="@{/customer}" method="post" th:object="${customer}">
                        <div class="mb-3">
                            <label class="form-label" for="name">Name</label>
                            <input type="text" class="form-control" name="name" id="name" th:field="*{name}"/>
                        </div>
                        <div class="mb-3">
                            <label for="address" class="form-label">Address</label>
                            <textarea class="form-control" cols="30" rows="6" th:field="*{address}" id="address"></textarea>
                        </div>
                        <div>
                            <button class="btn btn-primary" type="submit">Add</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="edit-customer-modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add Customer</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <form th:action="@{/customer}" method="post" th:object="${customer}">
                        <input type="hidden" id="customer-id" th:field="*{id}"/>
                        <div class="mb-3">
                            <label class="form-label" for="name-edit">Name</label>
                            <input type="text" class="form-control" name="name" id="name-edit" th:field="*{name}"/>
                        </div>
                        <div class="mb-3">
                            <label for="address-edit" class="form-label">Address</label>
                            <textarea class="form-control" cols="30" rows="6" th:field="*{address}" id="address-edit"></textarea>
                        </div>
                        <div>
                            <button class="btn btn-primary" type="submit">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>

<div th:replace="layout :: scripts"></div>
<div id="custom-scripts">
    <script>
        $('#delete-modal').on('show.bs.modal', function(e) {
            let type = $(e.relatedTarget).data('type');
            let id = $(e.relatedTarget).data('id');
            let name = $(e.relatedTarget).data('name');

            $('#delete-modal-body').text('Are you sure you wish to delete ' + type + ' \'' + name + '\'?');
            $('#delete-button').attr('href', '/' + type + '/delete/' + id);
        });

        $('#edit-customer-modal').on('show.bs.modal', function(e) {
            let id = $(e.relatedTarget).data('customer-id');
            let name = $(e.relatedTarget).data('customer-name');
            let address = $(e.relatedTarget).data('customer-address');

            $('#customer-id').val(id);
            $('#name-edit').val(name);
            $('#address-edit').val(address);
        });
    </script>
</div>
</body>
</html>